@tailwind base;
@tailwind components;
@tailwind utilities;

.aspect-square {
    aspect-ratio: 1 / 1;
}

.face-visualization {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    width: 100%;
    height: 100%;
}

.face-visualization > div {
    /* border: 1px solid #ccc; */
    border-radius: 20%;
}
body {
    background-color: gray; /* Встановлюємо колір фону */
}